#gameLoop
{
    width: 60%;
    font-size: x-large;
} 
 body
{
    background-color: rgb(179, 0, 0);
}
#description
{
    width: 50%;
    background-color: rgb(179, 0, 0);
    font-weight: 550;
}
#gameIcon
{
    width: 400px;
    height: 400px;
    color: rgb(179, 0, 0);
    background-color: black;
    font-size: xx-large;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 500px;
    margin: 0 auto; /*centers whole div horizontally*/
}
